<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" asp-controller="Role" asp-area="Admin" method="POST">
    <div class="mb-3">
        <label class="form-label">Tên phân quyền</label>
        <input name="name" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>